<h1>Мы издаем книги — вы их можете не читать</h1>

<h2>Оформить заказ на книгу <a href="#!/books/{{$ctrl.book.id}}">{{$ctrl.book.title}}</a></h2>

<div class="wrap_status">
    <div ng-bind-html="$sce.trustAsHtml(data)"></div>
</div>

<div class="form-wrap" ng-hide="status == '200'">
    <form name="formOrder" method="post" novalidate>

        <fieldset>

            <label>Имя:</label>
            <input type="text" name="name" ng-model="order.name" placeholder="Имя" required value="1">
            <span class="error" ng-show="formOrder.name.$dirty"><span ng-show="formOrder.name.$error.required">Заполните, пожалуйста, поле Имя</span></span>

            <label>Телефон:</label>
            <input type="tel" name="phone" ng-model="order.phone"  placeholder="Телефон" required value="2">
            <span class="error" ng-show="formOrder.phone.$dirty"><span ng-show="formOrder.phone.$error.required">Заполните, пожалуйста, поле Телефон</span></span>

            <label>Эл. адрес:</label>
            <input type="email" name="email" ng-model="order.email"  placeholder="Электронный адрес" required value="3">
            <span class="error" ng-show="formOrder.email.$dirty"><span ng-show="formOrder.email.$error.required">Заполните, пожалуйста, поле Email</span></span>
            <span class="error" ng-show="formOrder.email.$dirty"><span ng-show="formOrder.email.$error.email">Введен не верный Email</span></span>


            <label>Способ доставки:</label>
            <div ng-repeat="delivery in $ctrl.deliveryMode">
                <label><input type="radio" name="delivery" ng-model="order.delivery" ng-value="{'id': '{{delivery.id}}', price: {{delivery.price}}, needAdress: {{delivery.needAdress}}}"  required> {{delivery.name}} — {{delivery.price}}</label>
            </div>
            <div ng-show="order.delivery.needAdress">
                <label>Адрес доставки:</label>
                <input type="text" name="address" placeholder="Адрес доставки" ng-model="order.address">
            </div>

        </fieldset>
        <fieldset>
            <label>Комментарий к заказу:</label>
            <textarea name="comment" ng-model="order.comment">123</textarea>

            <div>
                <label>Способ оплаты:</label>
                <div ng-repeat="payment in $ctrl.paymentMode">
                    <label><input type="radio" name="payment" ng-model="order.payment" ng-value="{'id': '{{payment.id}}', 'currency': '{{$ctrl.book.currency}}', availableFor: {{payment.availableFor}}}" required> {{payment.title}}</label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <p class="total">Итого к оплате: {{$ctrl.book.price + order.delivery.price}} <span class="currency">Z</span></p>
            <button class="btn_submit" ng-click="submitOrder(order, $ctrl.book.id)" ng-disabled="formOrder.$invalid">Оформить заказ</button>
        </fieldset>

    </form>

    <figure>
        <a href="#!/books/{{$ctrl.book.id}}"><img ng-src="{{$ctrl.book.cover.small}}" alt="{{$ctrl.book.title}}"></a>
    </figure>
</div>



