<h1>Самое незаметное издательство</h1>
<p class="sub-title-text">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься.
    Попробуйте, вам понравится.</p>
<ul class="books-b-wrap">
    <li class="book-item" ng-repeat="book in $ctrl.books | limitTo: numLimit">
        <a href="#!/books/{{book.id}}">
            <figure>
                <img ng-src="{{book.cover.small}}" alt="">
                <figcaption ng-bind-html="$sce.trustAsHtml(book.info)"></figcaption>
            </figure>
        </a>
    </li>
</ul>
<a class="more-book" ng-click="Limit()">Еще несколько книг</a>