<h1>Мы издаем книги — вы их можете не читать</h1>

<div class="book-detail-wrap">
    <div class="book-detail-column book-detail-column-img">
        <figure>
            <div class="img-wrap">
                <img ng-src="{{$ctrl.book.cover.large}}" alt="{{$ctrl.book.title}}">
                <div class="eye">
                    <div class="eye-white">
                        <div class="eyelid eyelid-top"></div>
                        <div class="eyelid eyelid-bottom"></div>
                        <div class="eye-apple"></div>
                    </div>
                </div>
            </div>
        </figure>
        <p ng-bind-html="$sce.trustAsHtml($ctrl.book.description)"></p>
    </div>
    <div class="book-detail-column book-detail-column-reviews">
        <div class="book-detail-column-item" ng-repeat="rev in $ctrl.book.reviews">
            <figure>
                <img ng-src="{{rev.author.pic}}" alt="{{rev.author.name}}">
            </figure>
            <p>{{rev.cite}}</p>
        </div>
    </div>
    <div class="book-detail-column book-detail-column-features">
        <div class="book-detail-column-item" ng-repeat="fea in $ctrl.book.features">
            <figure>
                <img ng-src="{{fea.pic}}" alt="">
            </figure>
            <p>{{fea.title}}</p>
        </div>
    </div>
    <div class="book-detail-column book-detail-column-price">
        <a class="button-buy" href="#!/books/form/{{$ctrl.book.id}}">Купить за жалкие {{$ctrl.book.price}} <span class="currency">Z</span></a>
        <p>Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
        <img src="./img/skraffi.png" alt="">
    </div>

</div>
