$black: #000000;
$red: #e41a06;


@font-face {
  font-family: 'alsfuchsia';
  src: local('alsfuchsia'), local('alsfuchsia'), url('../font/alsfuchsia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  max-width: 1286px;
  min-width: 18rem;
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  font-family: Arial, sans-serif;
  color: $black;
  background: #ffffff;
  @media (min-width: 1366px){
    font-size: 15px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  width: calc(100% - 2rem);
  padding: 0 1rem;
  margin-bottom: 293px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input {
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  @media (min-width: 850px){
    flex-direction: row;
  }
}

.logo {
  padding-bottom: 4rem;
  @media (min-width: 850px){
    padding-bottom: 0;
  }
  img {
    max-width: 100%;
  }
}

.search {
  position: relative;
  width: calc(100% - 45px);
  max-width: 309px;
  padding-left: 35px;
  padding-right: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 15px;
  background: #fff url("../img/loope.png") 8px center no-repeat;
  box-shadow: inset 1px 1px 3px 0 #bfbfbf;
  input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 15px;
    color: #bfbfbf;
    line-height: 26px;
    text-align: left;
  }
  &:after {
    content: "";
    width: 20px;
    height: 24px;
    position: absolute;
    top: 2px;
    right: 10px;
    background: rgba(255, 255, 255, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 255, 255, 0)');
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

h1 {
  max-width: 1200px;
  margin: 4rem 0;
  font-weight: bold;
  font-size: 3.8rem;
  text-align: center;
  @media (min-width: 600px){
    font-size: 4.8rem;
  }
  @media (min-width: 1000px){
    font-size: 5.6rem;
  }
  @media (min-width: 1366px){
    font-size: 4.8rem;
  }
}
.sub-title-text {
  display: none;
  @media (min-width: 1366px){
    max-width: 70%;
    display: block;
    margin: 0 auto 3.3rem;
    font-size: 2.13rem;
    color: #333333;
    line-height: 3.2rem;
    text-align: center;
  }
}
.books-b-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  @media (min-width: 600px){
    flex-direction: row;
  }
}
.book-item {
  max-width: 35rem;
  flex: 1 1 25rem;
  margin: 0 auto 6rem;
  text-align: center;
  padding: 0 1rem;
  @media (min-width: 1366px){
    max-width: 23.3rem;
    flex: 1 1 16.6rem;
  }
  a {
    text-decoration: none;
    &:hover {
      u {
        color: $red;
      }
      img {
        transform: scale(1.13);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4), 8px 8px 24px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
  img {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4), 8px 8px 20px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  figcaption {
    margin: 30px auto 0;
    font-size: 1.9rem;
    color: #4c4c4c;
    line-height: 2.6rem;
    @media (min-width: 1366px){
      font-size: 1.26rem;
      line-height: 1.73rem;
    }
    u {
      color: #4285be;
      transition: color 0.5s ease;
    }
  }
}

.more-book {
  max-width: 35rem;
  display: block;
  padding: 1rem;
  margin: 0 auto;
  border: 0.2rem solid #96c2e4;
  border-radius: 1rem;
  font-size: 1.7rem;
  color: #4285be;
  text-align: center;
  text-decoration: none;
  transition: color 0.5s ease, border 0.5s ease;
  cursor: pointer;
  &:hover {
    color: $red;
    border: 0.2rem solid $red;
  }
  @media (min-width: 1366px){
    max-width: 23.3rem;
    font-size: 1.13rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  height: 193px;
  margin-top: -293px;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (min-width: 1366px){
    margin: 6.6rem 0 0;
  }
  img {
    max-width: 100%;
    display: block;
  }
}

//-----------------------------about
.about-text {
  p {
    margin: 20px 0;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
  }
  p,
  h2 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .sub-title-text-about {
    max-width: 880px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;
    color: #333333;
    text-align: center;
    @media (min-width: 1366px){
      font-size: 32px;
      line-height: 48px;
    }
  }
  h2 {
    font-size: 32px;
    color: #000000;
    @media (min-width: 1366px){
      font-size: 42px;
      line-height: 54px;
    }
  }
  .employee-photo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    li {
      flex: 1 1 123px;
      margin: 20px 10px;
      text-align: center;
      @media (max-width: 1024px) and (min-width: 500px){
        flex: 1 1 25%;
      }
      @media (min-width: 600px) {
        margin: 20px;
      }
    }
  }
  .employee-name {
    max-width: 640px;
    margin: 25px auto 20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #000000;
  }

  blockquote {
    max-width: 880px;
    margin: 30px auto;
    padding: 34px 10px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-family: 'alsfuchsia';
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    @media (min-width: 1366px){
      font-size: 36px;
      line-height: 54px;
    }
  }
  .list-text {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    li {
      padding-left: 25px;
      margin: 20px 0;
      font-size: 19px;
      line-height: 32px;
      color: #333333;
      text-indent: -25px;
    }
  }
}

//************************** book-detail
.book-detail-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .book-detail-column {
    margin-bottom: 60px;
    text-align: center;
    p {
      position: relative;
      margin: 0;
      font-size: 21px;
      color: #4c4c4c;
      line-height: 32px;
    }
    &.book-detail-column-img {
      flex: 1 1 100%;
      figure {
        position: relative;
        width: 100%;
        &:after {
          content: '';
          position: absolute;
          bottom: 11px;
          left: 10%;
          width: 17px;
          height: 32px;
          display: block;
          background: url("../img/ribbon.png") 0 0 no-repeat;
          z-index: 1;
        }

        .img-wrap {
          position: relative;
          display: inline-block;
          img {
            position: relative;
            z-index: 1;
            @media (min-width:992px) and (max-width:1199px){
              width: 280px;
            }
          }
          .eye {
            position: absolute;
            top: 150px;
            left: 70px;
            width: 140px;
            height: 140px;
            background-color: #000;
            border-radius: 50%;
            z-index: 5;
            -webkit-transform: scale(.67);
            transform: scale(.67);
            @media (min-width:330px) {
              top: 170px;
              left: 80px;
            }
            @media (min-width:350px) {
              top: 195px;
              left: 92px;
            }
            @media (min-width:390px) {
              top: 220px;
              left: 109px;
            }
            @media (min-width:420px) {
              top: 254px;
              left: 124px;
            }
            @media (min-width:475px) {
              top: 276px;
              left: 143px;
              -webkit-transform: scale(1);
              transform: scale(1);
            }
            @media (min-width:992px) {
              top: 150px;
              left: 70px;
              -webkit-transform: scale(.67);
              transform: scale(.67);
            }
            @media (min-width:1200px) {
              top: 222px;
              left: 112px;
              -webkit-transform: scale(1);
              transform: scale(1);
            }
            @media (min-width:1250px) {
              top: 254px;
              left: 124px;
            }
            .eye-white {
              position: absolute;
              top: 4px;
              left: 4px;
              right: 4px;
              bottom: 4px;
              border-radius: 50%;
              overflow: hidden
            }
            .eyelid {
              position: absolute;
              left: 0;
              right: 0;
              height: 50%;
              overflow: hidden;
              -webkit-animation: toggle-eye 2s infinite alternate;
              animation: toggle-eye 2s infinite alternate;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              &:before {
                position: absolute;
                left: 0;
                width: 100%;
                height: 132px;
                border-radius: 50%;
                background-color: #fff;
                content: ''
              }
              &.eyelid-top {
                top: 1px;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                &:before {
                  top: 0;
                }
              }
              &.eyelid-bottom {
                bottom: 1px;
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                &:before {
                  top: -100%;
                }
              }
            }
            .eye-apple {
              position: absolute;
              top: 53px;
              left: 53px;
              width: 27px;
              height: 27px;
              border-radius: 50%;
              background-color: #000;
            }
          }
        }
      }
      img {
        position: relative;
        z-index: 2;
        margin-bottom: 40px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4), 8px 8px 20px 0px rgba(0, 0, 0, 0.2);
      }
      p {
        font-size: 24px;
        color: #333333;
      }
      strong {
        color: #fc5454;
        font-weight: normal;
      }
      @media (min-width: 1000px) {
        flex: 1 1 30%;
        order: 2;
        max-width: 420px;
        margin: 0 1%;
      }
    }
    &.book-detail-column-reviews {
      @media (min-width: 600px) {
        flex: 1 1 45%;
        margin: 0 1%;
      }
      @media (min-width: 1000px) {
        flex: 1 1 30%;
        order: 1;
        margin: 0 1%;
      }
      .book-detail-column-item:first-child {
        p {
          padding: 0 21px;
          &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: 0;
            width: 21px;
            height: 23px;
            display: block;
            background: url("../img/arrow.png") 0 0 no-repeat;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 6px;
            right: 0;
            width: 21px;
            height: 23px;
            display: block;
            background: url("../img/arrow.png") 0 -23px no-repeat;
          }
        }
      }
    }
    &.book-detail-column-features {
      @media (min-width: 600px) {
        flex: 1 1 45%;
        margin: 0 1%;
      }
      @media (min-width: 1000px) {
        flex: 1 1 30%;
        order: 3;
        margin: 0 1%;
      }
    }
    &-item:first-child {
      margin-bottom: 60px;
    }
    &-item {
      @media (min-width: 1000px) {
        max-width: 270px;
        margin: 0 auto;
      }
    }
    img {
      max-width: 94%;
      margin-bottom: 25px;
    }
    &.book-detail-column-price {
      flex: 1 1 100%;
      order: 4;
      max-width: 420px;
      margin: 60px auto 0;
      .button-buy {
        display: block;
        width: calc(100% - 30px);
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 12px;
        border: 0;
        background-image: -moz-linear-gradient( 90deg, rgb(97,60,99) 0%, rgb(133,89,135) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(97,60,99) 0%, rgb(133,89,135) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(97,60,99) 0%, rgb(133,89,135) 100%);
        box-shadow: 0 10px 40px 0 rgba(56, 37, 57, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.5);
        font-size: 32px;
        color: rgb(255, 255, 255);
        line-height: 1.167;
        text-align: center;
        text-decoration: none;
        outline: 0;
        &:hover {
          background-image: -moz-linear-gradient( 90deg, rgb(73,39,75) 0%, rgb(194,141,197) 100%);
          background-image: -webkit-linear-gradient( 90deg, rgb(73,39,75) 0%, rgb(194,141,197) 100%);
          background-image: -ms-linear-gradient( 90deg, rgb(73,39,75) 0%, rgb(194,141,197) 100%);
        }
        &:active {
          background-image: -moz-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
          background-image: -webkit-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
          background-image: -ms-linear-gradient( 90deg, rgb(98,58,100) 0%, rgb(134,88,136) 100%);
        }
      }
      p {
        font-size: 15px;
        color: rgb(220, 220, 220);
        font-style: italic;
        line-height: 1.267;
        text-align: center;
      }
      img {
        width: 70px;
        height: 70px;
        margin: 10px auto 0;
      }
    }
  }
}

@-webkit-keyframes toggle-eye {
  0%,
  75% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    left: 0;
    right: 0
  }
  100% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    left: -4px;
    right: -4px
  }
}
@keyframes toggle-eye {
  0%,
  75% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    left: 0;
    right: 0
  }
  100% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    left: -4px;
    right: -4px
  }
}
.currency {
  text-decoration: line-through;
}
//*************************** form
h2 {
  max-width: 70%;
  display: block;
  margin: 0 auto 5rem;
  font-size: 2.8rem;
  color: #333333;
  line-height: 3.8rem;
  text-align: center;
  @media (min-width: 1366px){
    margin: 0 auto 3.3rem;
    font-size: 2.13rem;
    line-height: 3.2rem;
  }

  a {
    color: #4285be;
    transition: color 0.5s ease;
    &:hover {
      color: #e41a06;
    }
  }
}
.form-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2%;
  justify-content: center;
  @media (min-width: 900px){
    flex-wrap: nowrap;
  }
  form {
    order: 2;
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 900px){
      flex: 1 1 70%;
      margin: 0 2%;
      order: 1;
    }
    fieldset {
      flex: 1 1 100%;
      margin: 0;
      padding: 0;
      border: 0;
      &:last-child {
        text-align: right;
      }
      @media (min-width: 600px){
        flex: 1 1 45%;
        margin: 0 2%;
      }
      label {
        display: inline-block;
        margin: 15px 0 5px;
        padding-left: 5px;
        font-size: 16px;
      }
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      textarea {
        display: block;
        width: calc(100% - 14px);
        max-width: 350px;
        padding: 5px;
        border: 2px solid #000;
        font-size: 16px;
        outline: 0;
      }
      input[type="text"],
      input[type="tel"],
      input[type="email"] {
        &.ng-dirty.ng-invalid {
          border-color: #FA787E;
          margin-bottom: 5px;
        }

        &.ng-dirty.ng-valid {
          border-color: #78FA89;
        }
      }
      textarea {
        height: 100px;
        resize: none;
        @media (min-width: 600px){
          height: 158px;
        }
      }
      .error {
        color: #FA787E;
        font-size: 12px;
        display: block;
      }
      .total {
        font-size: 2.8rem;
        color: #333333;
        line-height: 3.8rem;
        @media (min-width: 1366px){
          font-size: 2.13rem;
          line-height: 3.2rem;
        }
      }
      input[type="submit"],
      .btn_submit {
        padding: 10px 50px;
        border: 2px solid #000;
        background: #e4e4e4;
        font-size: 20px;
        outline: 0;
        transition: background .2s ease;
        cursor: pointer;
        &:hover {
          background: #ffffff;
        }
      }
    }
    &.ng-invalid {
      input[type="submit"],
      .btn_submit {
        border: 2px solid #808080;
        background: #e4e4e4;
        &:hover {
          background: #e4e4e4;
          cursor: default;
        }
      }
    }
  }
  figure {
    order: 1;
    margin-bottom: 20px;
    @media (min-width: 900px){
      flex: 1 1 20%;
      margin: 0 2%;
      order: 2;
    }
  }
}
.wrap_status {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  .error {
    color: #e24141;
  }
  .success {
    color: #000000;
    display: inline-block;
    text-align: left;
  }
}
